<div v-if="description" class="help-block description">\{{ description }}</div>
<template>
  <label
    v-if="showPredefinedRanges"
    :for="name"
    class="select-proxy-display"
    :class="{ 'input-focused': isInputFocused , 'readonly': readonly }"
  >
    <select
      class="form-control hidden-select focus-outline"
      name="predefinedRanges"
      v-model.lazy="selectedRange"
      v-on:keydown.prevent="readonly ? false : true"
      tabindex="0"
      @blur="onBlur()"
    >
      <option value="">\{{ placeholder }}</option>
      <option v-for="option in predefinedRanges" :value="option" :disabled="option.disabled">
        \{{ option.label || option.id }}
      </option>
    </select>
    <span class="icon fa fa-chevron-down"></span>
    <span class="select-value-proxy"><template v-if="selectedRange && selectedRange !== {}">\{{ selectedRange.label }}</template><template v-else>\{{ placeholder }}</template></span>
  </label>
  <div class="fl-date-range form-html" ref="dateRange">
    <div class="form-group fl-date-picker date-picker-start focus-outline">
      <i class="fa fa-calendar fa-fw"></i>
      <input type="date" class="form-control" :name="name" :id="name"/>
      <input type="text" class="form-control" :tabindex="readonly ? -1 : 0"/>
      <i class="fa fa-times fa-fw"></i>
    </div>
    <div class="arrow-right">
      <i class="icon fa fa-long-arrow-right fa-fw"></i>
    </div>
    <div class="form-group fl-date-picker date-picker-end focus-outline">
      <i class="fa fa-calendar fa-fw"></i>
      <input type="date" class="form-control" :name="name" :id="name"/>
      <input type="text" class="form-control" :tabindex="readonly ? -1 : 0"/>
      <i class="fa fa-times fa-fw"></i>
    </div>
  </div>
</template>
<p class="text-danger" v-if="$v.value.required === false && $v.value.$dirty">
  {{T "widgets.form.errors.required"}}
</p>
