<div v-if="description" class="help-block description">\{{ description }}</div>
<div class="fileUpload" :class="{ 'fileUpload-disabled' : readonly, 'fileUpload-padding-top': value.length }">
  <div class="row">
    <div v-for="(image, index) in value">
      <div class="canvas-holder">
        <canvas ref="canvas"></canvas>
        <button class="canvas-remove" :class="{ 'hidden' : readonly }" type="button" v-on:click="removeImage(index)"></button>
      </div>
    </div>
  </div>
  <label
    class="btn btn-primary focus-outline"
    :class="{ 'hidden' : readonly }"
    tabindex="0"
    v-on:keydown.space.prevent="openFileDialog()"
  >
    <i class="fa fa-plus" aria-hidden="true"></i>
    <span>{{T "widgets.form.image.instruction"}}</span>
    <input
      multiple
      type="file"
      ref="imageInput"
      :id="name"
      :name="name"
      class="input-file selectfile"
      accept="image/gif, image/jpg, image/jpeg, image/tiff, image/png"
      :data-folder-id="mediaFolderId"
      v-on:click="onFileClick"
      v-on:change="onFileChange"
      tabindex="-1"
    />
  </label>
  <p class="text-danger" v-if="hasCorruptedImage">{{T "widgets.form.image.invalid"}}</p>
  <p class="text-danger" v-if="$v.value.required === false && $v.value.$dirty">{{T
      "widgets.form.errors.required"
    }}</p>
  <div class="row" :class="{ 'hidden' : !readonly }">
    <label
      class="btn btn-primary focus-outline"
      tabindex="0"
    >
      <span :disabled="readonly">{{T "widgets.form.image.instruction"}}</span>
    </label>
  </div>
</div>
