<div v-if="description" class="help-block description">\{{ description }}</div>
<input
  type="text"
  class="form-control focus-outline"
  v-model.trim.lazy="$v.value.$model"
  v-on:change="updateValue()"
  v-on:input="onInput($event)"
  :name="name"
  :id="name"
  :placeholder="placeholder"
  tabindex="0"
  :readonly="readonly"
  @blur="onBlur()"
/>
<p class="text-danger" v-if="$v.value.maxLength === false && $v.value.$dirty">{{T "widgets.form.number.invalidLength"}}</p>
<p class="text-danger" v-if="$v.value.required === false && $v.value.$dirty">{{T "widgets.form.errors.required"}}</p>
<p class="text-danger" v-if="$v.value.positive === false && $v.value.$dirty">{{T "widgets.form.number.onlyPositiveDigitsAllowed"}}</p>
<p class="text-danger" v-if="$v.value.integer === false && $v.value.$dirty">{{T "widgets.form.number.onlyIntegerDigitsAllowed"}}</p>
<p class="text-danger" v-if="$v.value.decimal === false && $v.value.$dirty">\{{$t("widgets.form.number.invalidDecimal", {decimals: decimals})}}</p>
